.container {
  position: absolute;
  opacity: 0.9;
  top: 50%;
  transform: translate(30%, -50%);
}
body {
  background-image: url('../img/pig.jpg');
}
#buttons {
  text-align: center;
  clear: both;
}
#playerone {
  padding: 50px;
  background-color: #ff7777;
}
#playertwo {
  padding: 50px;
  background-color: #3e7ce0;
}
#dice1 {
  border-style: solid;
  border-width: 0.1px;
  padding: 5px;
  border-left: 5px solid red;
}
#dice2 {
  border-style: solid;
  border-width: 0.1px;
  padding: 5px;
  border-left: 5px solid blue;
}
h1 {
  text-align: center;
}
#kichwa, #kichwa2 {
  font-size: 60px;
}
#kichwa {
  color: red;
}
#kichwa2 {
  color: blue;
}
.mascore {
  text-align: center;
  font-size: 17px;
}
#button {
  text-align: center;
  clear: both;
  display: none;
}
.scorer {
  text-align: center;
  font-size: 30px;
}
