
body {
  background-color: #0c2142;
  background-image: url(../img/pig.jpg);
}
h1 {
  text-align: center;
  color: white;
}
#player {
  text-align: center;
}
.onedice {
  display: none;
}
#rules {
  opacity: 0.9;
}
#onedii {
  background-color: pink;
}
